* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

#header {
  height: 90px;
  box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.5);
}

#logo-title {
  flex-grow: 1;
  display: flex;
}

#header-img,
#title {
  height: 80px;
}

#header-img {
  padding-left: 20px;
}

#title {
  margin-top: 0;
  padding: 25px 0;
  display: inline-block;
  flex-grow: 2;
  font-size: 1.7em;
  text-align: center;
  font-family: 'Dancing Script', cursive;

}

#nav-bar {
  flex-grow: 1;
}

#nav-bar > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  height: 90px;
}

#nav-bar > ul > li {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin-top: 35px;

}

a {
  text-decoration: none;
  color: grey;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 12px;
}

a:hover {
  text-decoration: underline;
}

#lead-title {
  text-align: center;
  padding: 2rem;
  margin-top: 80px;
}

#form {
  text-align: center;
  padding: 1rem;
}

#video {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 400px;
}

#details-title {
  text-align: center;
  padding: 1rem;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items {
  text-align: center;
  padding: 0.5rem 1rem 2rem;
  max-width: 420px;
  border: 0.5px solid lightgrey;
  border-radius: 5%;
  margin: 20px;
}

.items > ul {
  list-style: none;
}

.items > ul > li:first-child {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
}

.items > h3 {
  /* padding: 10px;
  margin: 0; */
}

.items p {
  text-align: justify;
  font-size: 14px;
  padding: 10px 20px;
}

footer {
  text-align: center;
  padding: 2rem;
  height: 80px;
  color: grey;
  letter-spacing: 0.1rem;
  font-size: 14px;
  box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.5);
}

@media screen and (min-width: 768px) {
  #header {
    display: flex;
  }

  #title {
    font-size: 2em;
    text-align: left;
    padding-left: 20px;
  }

  #lead-title {
    margin-top: 0;
  }

  #nav-bar > ul > li {
    margin-top: 35px;
  }

  a {
    font-size: 12px;
  }

  #video {
    min-width: 55%;

  }

}
